<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/global.css">
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.min.css">
  <title>Login Page</title>
</head>
<body>
  <h1 class="text-center my-5">Admin Portal</h1>
  <form id="login-form" class="p-4 border rounded mx-auto box-drop-shadow">
    <h3 class="mt-2 mb-4 fw-bold text-center">Login</h3>
    <div class="mb-4">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" required>
    </div>
    <div class="mb-4">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" required>
    </div>
    <button id="login-btn" type="button" class="btn btn-primary w-100 fw-bold">Login</button>
  </form>

  <script type="module" src="index.js"></script>
  <script src="../../assets/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
