<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import CSS Files and Local Bootstrap-->
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="companies.css">
    <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.min.css">

    <title>Clients Page</title>
</head>
<body>
    <!-- Logout button -->
    <div class="d-flex justify-content-end">
        <button id="logout-btn"
                class="btn btn-danger my-3 me-2 me-md-5 fw-bold">
            Logout
        </button>
    </div>

    <nav id="navigation" class="w-75 d-flex flex-wrap mt-1 mb-4 mx-auto justify-content-center gap-4 text-center">
        <a class="nav-link fs-4 p-3 p-lg-4 inactive" href="../analytics/analytics.html">Analytics</a>
        <a class="nav-link fs-4 p-3 p-lg-4 active">Clients</a>
        <a class="nav-link fs-4 p-3 p-lg-4 inactive" href="../web_content/web_content.html">Website Content</a>
    </nav>

    <hr class="w-75 mx-auto">


    <!-- Call companies.js and bootstrap bundle.js -->
    <script src="companies.js"></script>
    <script src="../../assets/bootstrap/bootstrap.bundle.min.js"></script>
</body>